.footer {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a.btn.btn-info{
    background-color: lightgreen;
    size: 100px;
}
a.btn.btn-info:hover{
    background-color: (25, 106, 227);
    size: 100px;
}
a.btn.btn-danger{
    background-color: grey;
    size: 100px;
}
a.btn.btn-danger:hover{
    background-color: red;
    size: 100px;
}